:root {
    /** Fonts **/

        --font-titles: "Roboto", sans-serif;
        --font-content: "Lato", sans-serif;

    /** colors **/

        /** Primary **/
        --sapphire: #024EB6; /* Titles */
        --seasalt: #F8F8F8; /* Background */

        /** Secondary **/
        --indiaGreen: #0F851B; /* content */
        --ferrariRed: #E1090B; /* Secondary color*/
        --ashGrey: #CFD6C2ff; /* Optional content*/
        --dark-green: #192418ff; /* Optional backgroud */

}
/** global settings **/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
* {
    margin: 0; padding: 0;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-content);
    min-height: 100dvh;
    width: 100vw;
    font-size: 1.6rem;
    line-height: 2.8rem;
    background-color: var(--seasalt);
}
input, button, textarea, select {
    font: inherit;
}
p {
    text-wrap: pretty;
    color: var(--indiaGreen);
    font-size: 2rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-titles);
    text-wrap: balance;
    color: var(--sapphire);
}
h1 {
    font-size: 4.3rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 2.6rem;
}
a {
    font-size: 2rem;
}
mark {
    background-color: var(--dark-green);
    color: var(--ashGrey);
    font-weight: bold;
    padding: 0.1rem 0.5rem;
    border-radius: 0.6rem;
}
img, video, svg {
    height: auto; max-width: 100%;
}
@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

/* Global settings */

.header, .nav, .main, .footer {
    width: 50vw;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--sage);
    color: var(--dark-green);
    margin: 0;
    padding: 1rem;
    border-radius: 3rem 3rem 0 0;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sage);
    padding: 2rem;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
}

.nav a, li {
    text-decoration: none;
    list-style-type: none;
    color: var(--cal-poly-green);
    padding: 0.8rem 1.5rem;
    
    border-radius: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav a:hover {
    background-color: var(--dark-green);
    color: var(--white-smoke);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    text-align: center;
}

.intro p, .camino p, .cambio p {
    text-align: justify;
}

.main {
    background-color: var(--sage);
}

.intro, .camino, .cambio {
    background-color: rgba(207, 214, 194, 0.35); /* ashGrey color with transparency */
    padding: 2rem;
    border-radius: 1.5rem;
}

.intro__title, .camino__title, .cambio__title {
    margin: 2rem;
}

h3 {
    text-align: left;
    padding: 2rem;
}